<div>
    <div class="head">
        <h1 class="text-center">Registro de factura</h1>
    </div>
    <div style="display: flex; justify-content: center;">
        <form [formGroup]="facturaFormGroup" (ngSubmit)="onSubmitFactura()">
            <div formGroupName="cliente">
                <h3>Cliente</h3>
                <hr>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Apellido</label>
                            <input formControlName="apellido" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Direccion</label>
                            <input formControlName="direccion" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Fecha nacimiento</label>
                            <input formControlName="fechaNacimiento" type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Telefono</label>
                            <input formControlName="telefono" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Email</label>
                            <input formControlName="email" type="email" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <h3>Producto</h3>
            <hr>
            <div formGroupName="producto">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Precio</label>
                            <input formControlName="precio" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Stock</label>
                            <input formControlName="stock" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <h3>Detalle</h3>
            <hr>
            <div formGroupName="detalle">
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Cantidad</label>
                            <input formControlName="cantidad" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label">Precio</label>
                            <input formControlName="precio" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary m-3">Guardar factura</button>
            <div>{{ alert }}</div>
        </form>
    </div>
</div>